{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card mb-4">
                    {% if object.preview %}
                        <img src="{{ object.preview.url }}" class="card-img-top" alt="{{ object.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h1 class="card-title">{{ object.title }}</h1>
                        <p class="text-muted mb-4">Опубликовано: {{ object.created_at|date:"d F Y H:i" }}</p>
                        <div class="card-text">
                            {{ object.content }}
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        Просмотров: {{ object.views_count }}
                    </div>
                </div>
                <a href="{% url 'articles:list' %}" class="btn btn-primary">Назад к списку статей</a>
            </div>
        </div>
    </div>
{% endblock %}
