{% load static %}
<div class="row">
    <div class="col-12 col-md">
        <img class="mb-2" src="{% static 'image/logo.webp' %}" alt="" width="90" height="85">
        <small class="d-block mb-3 text-body-secondary">&copy; 2017–{% now 'Y' %}</small>
    </div>
    <div class="col-6 col-md">
        <h5>Продукты и услуги</h5>
        <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Смартфоны</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Ноутбуки</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Аксессуары</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Умные устройства</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Игровые консоли</a></li>
        </ul>
    </div>

    <!-- Полезные ссылки -->
    <div class="col-6 col-md">
        <h5>Полезные ссылки</h5>
        <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">О нас</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Контакты</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Доставка и возврат</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Политика конфиденциальности</a>
            </li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Условия использования</a></li>
        </ul>
    </div>

    <!-- Контактная информация -->
    <div class="col-6 col-md">
        <h5>Контакты</h5>
        <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Телефон: +7 (123) 456-78-90</a>
            </li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Email: support@nextgenstore.ru</a>
            </li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Адрес: ул. Примерная, 123,
                Москва</a></li>
        </ul>
    </div>
</div>