<!-- catalog/templates/catalog/home.html -->
{% extends 'base.html' %}

{% block title %}NextGen Shop{% endblock %}

{% block content %}
    <div class="container mt-4 ">
        <h1 class="text-center">Добро пожаловать в NextGen Shop!</h1>
        <p class="text-center">Мы рады приветствовать вас в нашем интернет-магазине, где представлены самые свежие
            тренды и эксклюзивные предложения.</p>
        <div class="row">
            <div class="col-md-4">
                <h2 class="section-heading">Электроника</h2>
                <p>Последние новинки в мире гаджетов и техники. У нас вы найдете всё — от смартфонов до умных часов,
                    которые сделают вашу жизнь проще и комфортнее.</p>
            </div>
            <div class="col-md-4">
                <h2 class="section-heading">Одежда</h2>
                <p>Будьте в тренде с модными коллекциями этого сезона. Откройте для себя стильные и качественные вещи
                    для любого случая.</p>
            </div>
            <div class="col-md-4">
                <h2 class="section-heading">Дом и сад</h2>
                <p>Создайте уют и комфорт в вашем доме с помощью наших товаров для дома и сада. Мы предлагаем всё
                    необходимое для того, чтобы ваш дом стал настоящей крепостью уюта.</p>
            </div>
        </div>
    </div>
{% endblock %}
