{% extends 'base.html' %}
{% load product_filters %}
{% block content %}
    <div class="container">
        <div class="content">
            <h1>Добро пожаловать в NextGenStore</h1>
            <p>Ваш портал в мир высоких технологий</p>
            <h2>Откройте для себя новейшие технологии</h2>
            <p>
                Мы предлагаем новейшие гаджеты и устройства, которые помогут вам идти в ногу с будущим. Здесь вы
                найдёте всё, что нужно для комфортной и современной жизни:
            </p>
            <ul>
                <li><strong>Смартфоны</strong> с передовыми функциями</li>
                <li><strong>Ноутбуки</strong> для работы и развлечений</li>
                <li><strong>Умные устройства</strong> для вашего дома</li>
                <li><strong>Игровые консоли</strong> и аксессуары</li>
            </ul>
            <p>
                Оцените преимущества высококачественной электроники по доступным ценам с быстрой доставкой и
                отличным сервисом. <strong>NextGenStore</strong> — инновации, которые всегда рядом.
            </p>
        </div>
    </div>

    <h2 class="text-center md-3">Популярные товары</h2><br>

    <div class="row row-cols-1 row-cols-md-3 mb-4 g-4 text-center">
        {% for object in object_list %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="image-container">
                        <img src="{{ object|preview_url }}" class="fixed-img-size" alt="{{ product.name }}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ object.name }}</h5>
                        <p class="card-text">{{ object.description|slice:":100" }}</p>
                        <div class="btn-group">
                            <a class="btn btn-outline-primary" href="{% url 'catalog:product' object.pk %}"
                               role="button">Подробнее</a>
                            <a class="btn btn-outline-success" href="#" role="button">{{ object.price }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'catalog/includes/inc_pagination.html' %}
{% endblock %}
